
div[id="table"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table[id="chessboard"] {
    border-collapse: collapse;
}

td {
    font-family: var(--font_family);
    font-size: var(--font_size_chess_pieces);
    /*--------------------------------------*/

    text-align: center;
    /*--------------------------------------*/

    width: var(--cell_size);
    height: var(--cell_size);
}

    td[data-type="border"] {
        background-color: var(--bg_color_border);
        /*--------------------------------------*/

        font-size: var(--font_size_border);
        /*--------------------------------------*/

        color: var(--fg_color_border);
    }

    td[data-type="light"] {
        background-color: var(--bg_color_light);
    }

    td[data-type="dark"] {
        background-color: var(--bg_color_dark);
    }

    td[data-team="light"] {
        color: var(--fg_color_team_light);
    }

    td[data-team="dark"] {
        color: var(--fg_color_team_dark);
    }

    td[data-team="light"], td[data-team="dark"] {
        cursor: pointer;
    }





.rotate_180 {
    transform: rotate(180deg);
}

.selected {
    background-color: var(--bg_color_selected) !important;
}
